<!DOCTYPE html>
<html>
    <head>
        <title>Chat</title>
    </head>
    <body>
        <h1>WebSocket Chat</h1>
        <form id="nameForm" onsubmit="submitName(event)">
            <input type="text" id="nameInput" placeholder="Enter your name" autocomplete="off"/>
            <button>Submit</button>
        </form>
        <div id="chatContainer" style="display:none">
            <h2>Your ID: <span id="ws-id"></span></h2>
            <form action="" onsubmit="sendMessage(event)">
                <input type="text" id="messageText" autocomplete="off"/>
                <button>Send</button>
            </form>
            <ul id='messages'>
            </ul>
        </div>
        <script>
            var ws;
            function submitName(event) {
                event.preventDefault();
                var nameInput = document.getElementById("nameInput");
                var name = nameInput.value.trim();
                if (!name) {
                    alert("Please enter a valid name.");
                    return;
                }
                nameInput.disabled = true;
                document.getElementById("nameForm").style.display = "none";
                document.getElementById("chatContainer").style.display = "block";
                ws = new WebSocket(`ws://localhost:8000/ws/${name}`);
                document.querySelector("#ws-id").textContent = name;
                ws.onmessage = function(event) {
                    var messages = document.getElementById('messages');
                    var message = document.createElement('li');
                    var time = new Date().toLocaleTimeString([], { hour: '2-digit', minute: '2-digit' });
                    var content = document.createTextNode('' + time + ' ' + event.data);
                    message.appendChild(content);
                    messages.appendChild(message);
                };
            }
            function sendMessage(event) {
                var input = document.getElementById("messageText");
                ws.send(input.value);
                input.value = '';
                event.preventDefault();
            }
        </script>
    </body>
</html>